CLIENT_URL=
SERVER_PORT=
MONGO_URI=
REDIS_URL=
ENV_MODE=
LOG_LEVEL=
LOG_DIR=
BULLMQ_SQL_QUEUE_NAME=
INTERNAL_API_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
